In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("golden_globe_awards.csv")
df.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [16]:
df.tail()

,year_film,year_award,ceremony,category,nominee,film,win
7986,2019,2020,77,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
7987,2019,2020,77,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
7988,2019,2020,77,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False
7989,2019,2020,77,Cecil B. deMille Award,Tom Hanks,NaN,False
7990,2019,2020,77,Carol Burnett Award,Ellen DeGeneres,NaN,False

# Q1. Which nominee has received the most awards overall or in a single year?

In [6]:
nominee_counts = df[df['nominee']].value_counts()
nominee_counts[:5]

Meryl Streep        33
John Williams       23
Jack Lemmon         23
Shirley MacLaine    21
Al Pacino           19
Name: nominee, dtype: int64

Meryl Streep has received the most awards overall year.

In [20]:
data_2020 = df[df['year_award'] == 2020]
data_2020.head()

,year_film,year_award,ceremony,category,nominee,film,win
7864,2019,2020,77,Best Motion Picture - Drama,1917,NaN,True
7865,2019,2020,77,Best Motion Picture - Drama,"Irishman, The",NaN,False
7866,2019,2020,77,Best Motion Picture - Drama,Joker,NaN,False
7867,2019,2020,77,Best Motion Picture - Drama,Marriage Story,NaN,False
7868,2019,2020,77,Best Motion Picture - Drama,"Two Popes, The",NaN,False

In [21]:
nominee_counts_2020 = data_2020['nominee'].value_counts()
nominee_counts_2020[:5]

Tom Hanks            2
Quentin Tarantino    2
Rocketman            1
Rami Malek           1
Joe Pesci            1
Name: nominee, dtype: int64

Tom Hank